body {
    width: 100%;
    max-height:1024px;
    margin: 0 auto;
    background-color:#e6ccff;
    font-size: 62.5%;
}



/*global*/

.container { 
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 2.5em;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    text-align: justify;
    text-indent: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
}
/*Header*/
header {
    padding-top: 30px;
    min-height: 70px;
    border-bottom: grey 3px solid;

}


header h1 {
    
    color: hotpink;
    margin: 5px;
    font-family: 'Abril Fatface', cursive,sans-serif;
    font-size: 50px;
    text-align: center;
    
}

footer{
    background-color: #7700b3
    padding-top: 30px;
    min-height: 30px;
    border-top: grey 3px solid;
    

}

footer p {
    text-align: center;
}
section #showcase {
    padding-top: 0px;
    margin-top: 0px;
}
#showcase {
    min-height: 400px;
    background: url(../images/nailsupplies.jpg);
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%; 
    background-size: 100% 100%;
    
    text-align: center; 
}



 #showcase h1 {
    margin:0px;
    background-color: rgb(242, 231, 253);
    font-family: 'Abril Fatface', cursive,sans-serif;
    font-size:35px;   
}

img {
    height: 400px;
    width: auto;
    margin-top: 20px;
    
}

.gallery img {
    margin-top: 0px;
    
}





figure {
     margin: 5px;
     padding:0;
     text-align: center;
     
     
}


figcaption {
    font-family: 'Playfair Display', serif;
    font-size:14px;
    text-align: center;
}
